body{
    margin: 0;
    padding: 0;
    background-color: #1C1D1E;
    color: rgb(192, 192, 192);
    display:contents;
}
/* ======= NAVBAR STYLES ======= */
.navbar-main {
    display: inline-flex;
    font-family: Geneva, Verdana, sans-serif;
}
/* Navbar Logo Style*/
.navbar-logo {
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: rgb(118, 179, 239);
    height:40px;
    border-radius: 4px;
}
.navbar-logo-icon{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding-top: 4px;
    padding: 4px 5px;
    color: rgb(255, 255, 255);
}
/* Navbar Text Styles*/
.navbar-text {
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap:0px;
}
/* Navbar File Name Box */
.navbar-file-name {
    cursor: pointer;
    margin:0px 9px;
    padding: 0px;
}
.navbar-file-name-text{
    font-size: 20px;
    margin:0px;
    padding: 0px;
}
/* Navbar Links Box */
.navbar-links {
    display: flex;
    gap: 10px;
    font-size: 5px;
    margin:4px 8px;
    padding: 0px;
}
.menu-header{
    padding: 1px 8px;
    border-radius: 5px;
}
.menu-header:hover{
    background-color: #0c0c0cc3;
}
.navbar-separator{
    padding:3px 10px;
    border-radius: 5px;
    margin: 0px;
}
.navbar-separator:hover{
    background-color: #11121370;
    cursor:default;
}
.navbar-link-text{
    font-size: 15px;
    margin:0px;
    padding: 0px;
}

/* ======= LINE STYLES ======= */
.divider-line {
    border: 0.5px solid #393a3b;
    margin: 0px;
    padding: 0px;
}

/* ======= DIALOG STYLES ======= */
.dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.763);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.dialog-box {
  background-color: #24272a;
  padding: 16px;
  border-radius: 8px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.dialog-title {
  margin: 0 0 12px;
  font-size: 1rem;
  color: #d7d7d7;
}

.dialog-input {
  width: 90%;
  padding: 8px;
  background-color: #1c1d1e;
  border: 1px solid #3a3b3c;
  border-radius: 4px;
  color: #c0c0c0;
  outline: none;
}

.dialog-input:focus {
  border-color: rgb(118, 179, 239);
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.dialog-btn {
  padding: 6px 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
}

.dialog-btn.cancel {
  background: transparent;
  color: #aaa;
  border-width: 0px;
}
.dialog-btn.cancel:hover {
  background-color: #333435;
}

.dialog-btn.primary {
  background-color: rgb(71, 129, 186);
  color: #fff;
}

.dialog-btn.primary:hover {
  background-color: rgb(95, 165, 236);
  color:#ffffff
}
.menu-wrapper {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2c2d2e;
  border: 1px solid #818181;
  border-radius: 3px;
  min-width: 260px;
  padding: 6px 0;
  z-index: 2000;
}

.dropdown-menu button {
  width: 98%;
  margin: 0px 2px;
  background: none;
  border-radius: 1px;
  border: none;
  color: #c0c0c0;
  text-align: left;
  padding: 8px 14px;
  font-size: 0.85rem;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #0c0c0cc3;
}

/*======= TASKBAR STYLES =======*/
.taskbar{
    display:flex;
    justify-content:flex-start;
    gap:10px;
    margin:4px 20px;
    background-color:transparent;
}
#divider-line-vertical{
    height:20px;
    align-self:center;
    margin:0px;
}

.sidebar-icon-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    border-radius:6px;
    margin-top: 2px;
}
.sidebar-icon-wrapper:hover{
    background-color:#0c0c0cc3;
    cursor:pointer;
}
.sidebar-icon{
    width:15px;
    height:15px;
    color:rgb(192, 192, 192);
    cursor:pointer;
}

.zoom-level-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:6px;
    padding:4px 8px;
    border-radius:6px;
}
.zoom-level-wrapper:hover{
    background-color:#0c0c0cc3; 
    cursor:pointer;
}
.zoom-level-dropdown{
    background: transparent;
    border: 0px;
    border-radius: 4px;
    color: #c0c0c0;
    outline: none;
}
.zoom-level-dropdown:focus {
    border-color: rgb(118, 179, 239);
}
.zoom-level-dropdown:hover {
    cursor:pointer;
}

.zoom-buttons{
    display:inline-flex;
    gap:8px;
    align-items:center;
    justify-content:center;
}
.zoom-in-wrapper, .zoom-out-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    border-radius:6px;
}
.zoom-in-wrapper:hover, .zoom-out-wrapper:hover{
    background-color:#0c0c0cc3; 
    cursor:pointer;
}
.zoom-in-icon, .zoom-out-icon{
    width:15px;
    height:15px;
    color:rgb(192, 192, 192);
    cursor:pointer;
}

.undo-redo-wrapper{
    display:inline-flex;
    gap:8px;
    align-items:center;
    justify-content:center;
}
.undo-wrapper, .redo-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    border-radius:6px;      
}
.undo-wrapper:hover, .redo-wrapper:hover{
    background-color:#0c0c0cc3; 
    cursor:pointer;
}
.undo-icon, .redo-icon{
    width:15px;
    height:15px;
    color:rgb(192, 192, 192);   
    cursor:pointer;
}

.delete-button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    border-radius:6px;      
    margin-top: 2px;
}
.delete-button:hover{
    background-color:#0c0c0cc3; 
    cursor:pointer;
}
.delete-icon{   
    width:15px;
    height:15px;
    color:rgb(192, 192, 192);   
    cursor:pointer;
}
.insert-buttons{
    display:inline-flex;
    gap:8px;
    align-items:center;
    justify-content:center;
}
.insert-plus-icon, .insert-shape-icon, .insert-table-icon{
    width:15px;
    height:15px;
    color:rgb(192, 192, 192);   
    cursor:pointer;
}   
.insert-plus-wrapper, .insert-shape-wrapper, .insert-table-wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    width:24px;
    height:24px;
    border-radius:6px;      
}
.insert-plus-wrapper:hover, .insert-shape-wrapper:hover, .insert-table-wrapper:hover{
    background-color:#0c0c0cc3; 
    cursor:pointer;
}   

/* ======= SIDEBAR STYLES ======= */
.sidebar{
    width: 250px;
    background: transparent;
    border-right: 1px solid #393a3b;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-bar {
  position: relative;
  width: 160px; 
}

.search-input {
  width: 100%;
  padding: 10px 12px 10px 38px; 
  margin:10px;
  border-radius: 20px;
  border: 1px solid #393a3b;
  outline: none;
  font-size: 12px;
  background: transparent;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: #888;
  pointer-events: none;
}
/* Sidebar Folders */
.sidebar-folder {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.general-folder-header, .misc-folder-header, .advanced-folder-header, .basic-folder-header, .arrows-folder-header, .flowchart-folder-header, .entity-folder-header, .uml-folder-header{
    font-size: 14px;
    color: rgb(192, 192, 192);
    margin: 0px 10px;
    padding: 4px 0px;
    width:90%;
    height:20px;
    border-radius: 30px;
    display:flex;
    align-items:center;
    justify-content: left;
    padding-left:10px;
}
.general-folder-header:hover, .misc-folder-header:hover, .advanced-folder-header:hover, .basic-folder-header:hover, .arrows-folder-header:hover, .flowchart-folder-header:hover, .entity-folder-header:hover, .uml-folder-header:hover{
    background-color: #0c0c0cc3;
    cursor:pointer;
}
.folder-icon{
    width: 14px;
    height: 14px;
    margin-right: 8px;
    color: rgb(192, 192, 192);
}
.folder-contents{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 20px;
    transition: 0.5ms ease-in-out;
}