body{
    margin: 0;
    padding: 0;
    background-color: #1C1D1E;
    color: rgb(192, 192, 192);
    display:contents;
}
/* ======= NAVBAR STYLES ======= */
.navbar-main {
    display: inline-flex;
    font-family: Geneva, Verdana, sans-serif;
}
/* Navbar Logo Style*/
.navbar-logo {
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: rgb(118, 179, 239);
    height:40px;
    border-radius: 4px;
}
.navbar-logo-icon{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding-top: 4px;
    padding: 4px 5px;
    color: rgb(255, 255, 255);
}
/* Navbar Text Styles*/
.navbar-text {
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap:0px;
}
/* Navbar File Name Box */
.navbar-file-name {
    cursor: pointer;
    margin:0px 9px;
    padding: 0px;
}
.navbar-file-name-text{
    font-size: 20px;
    margin:0px;
    padding: 0px;
}
/* Navbar Links Box */
.navbar-links {
    display: flex;
    gap: 10px;
    font-size: 5px;
    margin:4px 0px;
    padding: 0px;
}
.navbar-separator{
    padding:3px 10px;
    border-radius: 5px;
    margin: 0px;
}
.navbar-separator:hover{
    background-color: #11121370;
    cursor:default;
}
.navbar-link-text{
    font-size: 15px;
    margin:0px;
    padding: 0px;
}

/* ======= LINE STYLES ======= */
.divider-line {
    border-top: 1px solid #333435;
    margin: 0px;
    padding: 0px;
}